
pyautogui/__pycache__/__init__.cpython-39.pyc
pyautogui/__pycache__/__init__.cpython-38.pyc
pyautogui/__pycache__/_pyautogui_win.cpython-38.pyc
pyautogui/__pycache__/_pyautogui_win.cpython-39.pyc
run.bat
seed_dump.png
